[Unit]
Description=PostgreSQL for Paperless-ngx
Wants=paperless-pod.service
After=paperless-pod.service
Before=paperless.service

[Container]
ContainerName=paperless-db
Pod=paperless.pod
Image=docker.io/library/postgres:17-alpine
Volume=/srv/paperless/db:/var/lib/postgresql/data:z
Envvironment=POSTGRES_USER=paperless
Environment=POSTGRES_DBNAME=paperless
Environment=POSTGRES_HOSTNAME=paperless
Secret=paperless-db-password,type=env,target=POSTGRES_PASSWORD

HealthCmd=pg_isready -U postgres || exit 1
HealthInterval=15s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=30s

 
[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target