[Unit]
Description=Valkey for Paperless-ngx
Wants=paperless-pod.service
After=paperless-pod.service

[Container]
ContainerName=paperless-valkey
Image=docker.io/valkey/valkey:8-alpine
Volume=/mnt/paperless/valkey:/data:rw,z
AutoUpdate=registry
Pod=paperless.pod
EnvironmentFile=/srv/paperless/paperless.env

HealthCmd=valkey-cli ping | grep -q PONG || exit 1
HealthInterval=10s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=10s

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
