[Unit]
Description=PostgreSQL for Paperless-ngx
Wants=paperless-pod.service
After=paperless-pod.service
Before=paperless.service

[Container]
ContainerName=paperless-db
Pod=paperless.pod
Image=docker.io/library/postgres:17-alpine
EnvironmentFile=/srv/paperless/paperless.env
Volume=/srv/paperless/db:/var/lib/postgresql/data:z

HealthCmd=pg_isready -U postgres || exit 1
HealthInterval=15s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=30s

 
[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
