[Unit]
Description=Paperless-ngx container
Wants=paperless-pod.service valkey.service
After=paperless-pod.service valkey.service

[Container]
ContainerName=paperless
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
Tmpfs=/tmp:rw,mode=1777
Volume=/mnt/paperless/data:/usr/src/paperless/data:rw,z
Volume=/mnt/paperless/media:/usr/src/paperless/media:rw,z
Volume=/mnt/paperless/export:/usr/src/paperless/export:rw,z
Volume=/mnt/paperless/consume:/usr/src/paperless/consume:rw,z
AutoUpdate=registry
Pod=paperless.pod
EnvironmentFile=/srv/paperless/paperless.env
Environment=PAPERLESS_REDIS=redis:6379
Environment=PAPERLESS_SUPERVISORD_WORKING_DIR=/tmp

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
