[Unit]
Description=Paperless-ngx container
Wants=paperless-pod.service paperless-valkey.service
After=paperless-pod.service paperless-valkey.service

[Container]
ContainerName=paperless
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
Tmpfs=/tmp:rw,mode=1777
Volume=/mnt/paperless/data:/usr/src/paperless/data:rw,z
Volume=/mnt/paperless/media:/usr/src/paperless/media:rw,z
Volume=/mnt/paperless/export:/usr/src/paperless/export:rw,z
Volume=/mnt/paperless/consume:/usr/src/paperless/consume:rw,z
AutoUpdate=registry
Pod=paperless.pod
Environment=PAPERLESS_URL=https://paperless.urbanelephant.uk
Secret=paperless-secret-key,type=env,target=PAPERLESS_SECRET_KEY
Environment=PAPERLESS_TIME_ZONE=Europe/London
Environment=PAPERLESS_REDIS=redis://127.0.0.1:6379
Environment=PAPERLESS_SUPERVISORD_WORKING_DIR=/tmp
Environment=PAPERLESS_DBHOST=127.0.0.1:5432
Environment=PAPERLESS_DBENGINE=postgresql
Environment=PAPERLESS_DBNAME=paperless
Environment=PAPERLESS_DBUSER=paperless
Secret=paperless-db-password,type=env,target=PAPERLESS_DBPASS

HealthCmd=["/bin/bash", "-c", "exec 5<>/dev/tcp/127.0.0.1/3003"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=unless-stopped
RestartSec=10


[Install]
WantedBy=default.target
