[Unit]
Description=Valkey for Paperless-ngx
Wants=paperless-pod.service
After=paperless-pod.service

[Container]
ContainerName=paperlessw-valkey
Image=docker.io/valkey/valkey:8-alpine
Volume=/mnt/paperless/valkey:/data:rw,z
AutoUpdate=registry
Pod=paperless.pod

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
